// $primary: #013d2d  ;
$primary: #015e45;
// $primary:#588c66;
$primarylow: rgb(1, 94, 69, 0.2);
$primarylow2: rgb(1, 94, 69, 0.6);

$middle: #014130;
$secondary: #001611;
// $secondary:#1a4345;
$secondarylow: rgb(0, 22, 17, 0.5);
$secondarylow2: rgb(0, 22, 17, 0.6);

$tertiary: #e7e7e7;
$tertiarylow: rgb(231, 231, 231, 0.5);

// $primary :#ff4f5a;
// $middle:#385a64;

// $primary: #4585a0;
// $middle:#17404d;

// $primary:#810100;
// $middle:#f2e4c9;

// $secondary-white: #E7E7E7;

// $primary:#d86944;
// $middle: #366158;
// $primary:#ecd0a8;
// $middle:#842b0d;

// $secondary: #E7E7E7;
// $primary:#4585a0;
// $middle:#8ea299;

// $primary:#588c66;
// $middle:#1a4345;
// $secondarylow:rgb(26, 67, 69,0.5);

// $tertiary: #E7E7E7;

.Toastify__toast--success {
  border-radius: 20px !important;
  background: $secondary !important;

  @media only screen and (max-width: 600px) {
    border-radius: 10px !important;

    display: flex !important;
    align-items: center !important;
    height: 5vw !important;
    font-size: 2.5vw !important;
    left: 15% !important;
    top: 3vw !important;
  }
}

.Toastify__toast--error {
  font-size: 1vw !important;

  border-radius: 20px !important;
  background: $secondary !important;

  @media only screen and (max-width: 600px) {
    border-radius: 10px !important;

    display: flex !important;
    align-items: center !important;
    height: 5vw !important;
    font-size: 2.5vw !important;
    left: 15% !important;
    top: 3vw !important;
  }
}

.Toastify__toast {
  @media only screen and (max-width: 600px) {
    --toastify-toast-min-height: 10vh;
    width: 70% !important;
  }
}
