

// $primary:#d86944;
// $secondary: #366158;
// $primary:#ecd0a8;
// $secondary:#842b0d;

// $secondary: #E7E7E7;
// $primary:#4585a0;
// $secondary:#8ea299;

$primary:#588c66;
$secondary:#1a4345;
$tertiary: #E7E7E7;


// $primary :#ff4f5a;
// $secondary:#385a64;


// $primary: #4585a0;
// $secondary:#17404d;

// $primary:#810100;
// $secondary:#f2e4c9;


// $secondary-white: #E7E7E7;

