@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:wght@400;500;600;800&family=Pacifico&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:wght@400;500;600;800&family=Pacifico&family=Poppins:wght@400;500&display=swap');

$sm :640px;
$md : 768px;
$lg : 1024px;
$xl: 1280px;
$xxl: 1536px;
// $primary:#d86944;
// $secondary: #366158;
// $tertiary:#ecd0a8;
// $tertiary:#842b0d;

// $secondary: #E7E7E7;
// $primary:#4585a0;
// $secondary:#8ea299;

$primary:#588c66;
$secondary:#1a4345;

// $primary: #4585a0;
// $secondary:#17404d;

// $primary:#810100;
// $secondary:#f2e4c9;

// $primary:#1a9604;
// $secondary:#072e02;
// $secondary-white:#37b60d;

// $secondary-white: #E7E7E7;

$font1: 'Cookie', cursive;
$font2: 'Montserrat', sans-serif;
$font3: 'Pacifico', cursive;
$font4: 'Poppins', sans-serif;