@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:wght@400;500;600;800&family=Pacifico&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:wght@400;500;600;800&family=Pacifico&family=Poppins:wght@400;500&display=swap');


$font1: 'Cookie', cursive;
$font2: 'Montserrat', sans-serif;
$font3: 'Pacifico', cursive;
$font4: 'Poppins', sans-serif;